<div class="row">
  <div class="col col-sm-9">
    <canvas
      baseChart
      [datasets]="config.lineChartData"
      [labels]="config.lineChartLabels"
      [options]="config.lineChartOptions"
      [legend]="config.lineChartLegend"
      [type]="'line'"
      [plugins]="config.lineChartPlugins"
    >
    </canvas>
  </div>
  <div class="col col-sm-3">
   <div class="row ">
    
    <ng-template cryptoButtons> </ng-template>
  </div> 
    <div class="row">
      <form  (ngSubmit)="addSymbol(cryptoSymbol)" #addForm="ngForm">
      crypto symbol
      <input type="text" placeholder="like btc" class="form-control" required name="cryptoSymbol" [(ngModel)]="cryptoSymbol" />
      with line color
      <span [(colorPicker)]="selectedColor" [style.background]="selectedColor" role="button" class="rounded-3 p-3 mx-1 d-inline-block border border-secondary align-middle"></span>
      <input type="submit" class="btn btn-success" [disabled]="addForm.invalid" value="add crypto" >
     
    </form>
    <div class="text-danger">
      {{errorMsg}}
    </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
