<div class="row">
  <div class="col col-sm-9">
    <canvas
      baseChart
      [datasets]="config.lineChartData"
      [labels]="config.lineChartLabels"
      [options]="config.lineChartOptions"
      [legend]="config.lineChartLegend"
      [type]="'line'"
      [plugins]="config.lineChartPlugins"
    >
    </canvas>
  </div>
  <div class="col col-sm-3">
    <app-symbolPairButton
      [symbolName]="'bitcoin'"
      [symbol]="'btc'"
      #btcusdt
      [config]="config"
      [color]="'#f00b'"
      [pointColor]="'#f00b'"
      [isActive]="true"
    ></app-symbolPairButton>
    <app-symbolPairButton
      [symbolName]="'ethereum'"
      [symbol]="'eth'"
      [config]="config"
      [color]="'#00fb'"
      [pointColor]="'#00fb'"
    ></app-symbolPairButton>
    <app-symbolPairButton
      [symbolName]="'cosmos'"
      [symbol]="'atom'"
      [config]="config"
      [color]="'#0f0b'"
      [pointColor]="'#0f0b'"
    ></app-symbolPairButton>
    <app-symbolPairButton
      [symbolName]="'matic-network'"
      [symbol]="'matic'"
      [config]="config"
      [color]="'#f60b'"
      [pointColor]="'#f60b'"
    ></app-symbolPairButton>
    <app-symbolPairButton [symbolName]="'binancecoin'" [symbol]="'bnb'" [config]="config"
    [color]="'#f06b'"
    [pointColor]="'#f06b'">
    </app-symbolPairButton>
    
  </div>
</div>
