
<div class="h-100">
    <div class="container-md bg-light h-100 mt-sm-5 p-5 rounded-1">
      
        <!-- <router-outlet></router-outlet> -->
        <app-btc></app-btc>
        <div class="p-5 text-center bg-light">
          <h1 class="mb-3">crypto chart</h1>
          <h5 class="mb-3">take a quick look at cryptocurrency prices </h5>
          <h5>Angular sample project for developers</h5>
          <a class="btn btn-primary" href="https://github.com/hsafavi/cryptochart" role="button">github project</a>
        </div>
       data provided by <a href="https://www.coingecko.com/"> coingecko</a>
      </div>
</div>

